body{
    background-color: lightgreen;
}
h1{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5vw;
    text-align: center;
    text-decoration: underline;
}
img{
    display: block;
    margin: 0 auto;
}
h2{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
}
a:link{
    color: black;
    font-size: large;
}
a:visited{
    color: antiquewhite;
    font-size: large;
}
a:hover{
    color: brown;
    font-size: large;
}
nav{
    color: black;
    background-color: darkgrey;
    width: 12vw;
    height: 3vw;
    text-align: center;
    line-height: 3vw;
}

li{
    color: antiquewhite;
}
#klocka{
    width: 12vw;
    height: 3vw;
    background-color: darkgrey;
    color: black;
    margin: 0%;
}
#Accessebility{
    width: 12vw;
    height: 3vw;
    color: black;
    background-color: darkgrey;
    font-size: 1vw;
    margin: 1px;
}
#menuLink{
    display: inline-block;
    color: black;
    height: 3vw;
    width: 12vw;
    background-color: darkgrey;
    margin: 0%;
}
#blogLink{
    display: inline-block;
    width: 12vw;
    height: 3vw;
    color: black;
    background-color: darkgrey;
    font-size: 1vw;
}
#skiplotsoflines{
    height: 20vw;
}
